/* Your styles goes here. */

.container {
  color: #000;
  background-image: url(https://img.freepik.com/free-vector/cute-colorful-kitten-pow-pattern-design_1017-14710.jpg?w=1380&t=st=1692573781~exp=1692574381~hmac=a414180a131b2d5dc9e44125df1e81fdc3ab3f3337aa46903667ea98685a9eb8);
  height: 100vh;
}

.demo {
  margin: 50px;
}
